.filmHeader {
    grid-template-rows: 1fr auto;
    grid-template-columns: repeat(4, 1fr);
}

@media all and (max-width: 1366px) {
    .filmHeader {
        grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
    }
}

@media all and (max-width: 1080px) {
    .filmHeader {
        grid-template-columns: 0.2fr 1fr 1fr 0.2fr;
    }
}

@media all and (max-width: 750px) { 
    .filmHeader {
        grid-template-rows: 1fr 10fr;
        grid-template-columns: 0.2fr 1fr 1fr 0.2fr;
    }
}

@media all and (max-width: 625px) {
    .filmHeader {
        grid-template-columns: 0.2fr 1fr 1fr 0.2fr;
    }
}