.footer {
    background-color: #534a4a;
    height: 35px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
}

.footer__logo {
    grid-column-start: 2;
    grid-column-end: 3;
}

@media all and (max-width: 620px) {
    .footer {
        display: flex;
        justify-content: center;
    }
}