.radioGrp {
    min-width: 100px;
    width: 185px;
    display: flex;
    justify-content: space-between;
}

.radioGrp__label {
    display: inline-block;
    padding: 5px;
    background-color: gray;
    text-transform: uppercase;
    font-weight: bolder;
    cursor: pointer;
}

.radioGrp__input {
    display: none;
}

.checked {
    background-color: var(--moviedb-color);
}